{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div align = 'center'>
        <h1>Welcome to the page for {{current_user.name}}</h1>
        <img align='center' src="{{url_for('static', filename = 'profile_pics/' + current_user.profile_image)}}" >

    </div>
</div>

<br><br>
<p>
    <h4>Profile Information</h4>
    <b>Name:</b> <span>{{ student.name }}</span> <br>
    <b>Roll No:</b> <span>{{ student.rollno }}</span>
</p>

<br><br>

<p>
    <h4>Actions Available</h4>
        <button> <a href="{{ url_for('admin.registerExam', rollno=student.rollno) }}">Register for new exam</a></button>
        <button><a href="{{ url_for('admin.enrollments', rollno=student.rollno) }}">Current Enrollments</a></button>
    </li>
</p>

<div class = "container">
    <form method = "POST" action="" enctype="multipart/form-data">

        <div class = "form-group">
            {{form.hidden_tag()}}
        </div>

        <div class = "form-group">
            {{form.picture.label(class = "form-group")}} 
            {{form.picture(class='form-control')}}
        </div>

        <div class = "form-group">
            {{form.submit(class='btn btn-primary')}}
        </div>


        
        
    </form>

  </div>

{% endblock %}

