{% extends "base.html" %}

{% block content %}
<br><br>
<div class="card bg-light mb-3">
        <div class="card-header"><h4 class="heading">Login</h4></div>
        <div class="card-body">
            <div class="jumbotron">
                <div align = 'center'>
                    <h1>Welcome to the page for {{student.name}}</h1>
                    

                </div>
            </div>
            <hr>
            <br><br>
            <!-- <p>
                <h4>Profile Information</h4>
                <b>Name:</b> <span>{{ student.name }}</span> <br>
                <b>Roll No:</b> <span>{{ student.rollno }}</span>
            </p> -->

            <br><br>
            <hr>
            <p>
                <h4>Actions Available</h4>
                    
                    <button><a href="{{ url_for('admin.enrollments', rollno=student.rollno) }}">Current Enrollments</a></button>
                </li>
            </p>

           
        </div>
    </div>
{% endblock %}

