{% extends "base.html" %}

{% block content %}
<br><br>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Supplementary Examination System</h1>
        <p>Here you may register for Supplementary Examination 2019</p>
        <!-- <button><a href="">Student Login</a></button> -->
    </div>

    <table>
        <tr>
            <td><a href="{{url_for('admin.TeachersLogin')}}">Admin Login</a></td>
            <td><a href="{{url_for('admin.ResultLogin')}}">Results</a></td>
        </tr>
    </table>
</div>
{% endblock %}
