<!DOCTYPE html>
<html lang="en">

<head>
  <style>p.indent{padding-left: 1.8em}</style>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../static/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Result
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}"/>  
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/now-ui-kit.css')}}"/>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('admin.index')}}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('admin.Book')}}">Booking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('admin.signup')}}">Signup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('admin.UserLogin')}}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Admin</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="card bg-light mb-3">
            <div class="card-header"><h4 class="heading">&ensp;  </h4></div>
            <div class="card-body"
                <div class="exam_register_form">
                  <form action="{{url_for('admin.payment',amount = data['amount'])}}" method="POST">
                        <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key={{key}}
                            data-amount= {{data['amount']}}
                            data-name="Hotel Booking Fee"
                            data-description="Fee"
                            data-locale="auto"
                            data-zip-code="true">
                        </script>
                  </form>
                  <a href="{{url_for('admin.draft')}}">Save Data & Pay later</a>
                </div>
            </div>
            </div>
    </div>
</body>


  <!--   Core JS Files   -->
  <script src="{{url_for('static', filename='js/core/jquery.min.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='js/core/popper.min.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static', filename='js/core/bootstrap.min.js')}}" type="text/javascript"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{{url_for('static', filename='js/plugins/bootstrap-switch.js')}}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{{url_for('static', filename='js/plugins/nouislider.min.js')}}" type="text/javascript"></script>
  <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
  <script src="{{url_for('static', filename='js/plugins/bootstrap-datepicker.js')}}" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
  <script src="{{url_for('static', filename='js/now-ui-kit.js')}}" type="text/javascript"></script>
</body>
</html>

