{% extends "base.html" %}

{% block content %}

<br><br>
<div class="card bg-light mb-3">
    <div class="card-header"><h4 class="heading">Sign Up</h4></div>
    <div class="card-body">
        <div class="user_form">
            <form class="inside_form" method="POST">
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.name.label }} {{ form.name() }}
                </div>
                <div class="form-group">
                    {{ form.rollno.label }} {{ form.rollno() }}
                </div>
                <div class="form-group">
                    {{ form.branch.label }} {{ form.branch() }}
                </div>
                <div class="form-group">
                    {{ form.official_email.label }} {{ form.official_email() }}
                </div>
            <br>
                <div class="form-group">
                    {{ form.password.label }} {{ form.password() }}
                </div>

            <div class="form-group">
                    {{ form.pass_confirm.label }} {{ form.pass_confirm() }}
                </div>

                <div class="form-group form-check">
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
